body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
footer {
  margin-left: -10px;
}
footer p {
  border-top: 1px solid #000;
}
.form-group,
btn {
  margin-left: 10px;
}
